@import "../../variables";
@import "../../mixins/rem";

.button {
  border-radius: 8px;
  width: 132px;
  height: 44px;
  font-family: $font__main--bold;
  font-size: rem(20px);
  color: #000000;
  border: none;

  &--yellow {
    background: #FFD93E;
  }

  &--grey {
    background: #E5E5E5;
  }

  &--col1 {
    grid-column-start: 1;
  }

  &--col2 {
    grid-column-start: 2;
  }
}
