@import "../../variables";
@import "../../mixins/rem";

.videos {
  display: grid;
  grid-template-columns: 280px;
  grid-auto-flow: row dense;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.5s ease;

  @media #{$mobile--big} {
    grid-template-columns: 320px;
  }

  @media #{$tablet} {
    grid-template-columns: 340px 340px;
  }

  @media #{$tablet--big} {
    grid-template-columns: 360px 360px;
  }

  @media #{$desktop} {
    grid-template-columns: 400px 400px;
  }

  &__video {
    grid-column: span 1;
    grid-row: span 1;
  }
}