@import "../../mixins/rem";
@import "../../variables";

.page {
  height: 100%;
  min-width: 320px;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";

  &__header {
    grid-area: header;
    padding: 0 20px;
    background: #ffffff;
    z-index: 1;

    @media #{$mobile--only} {
      width: calc(100vw - 40px);
      position: fixed;
      z-index: 10;
    }

    @media #{$desktop} {
      border-bottom: 1px solid #F0F0F0;
    }
  }

  &__content {
    grid-area: content;
    padding: 0 20px;

    @media #{$mobile} {
      margin: 70px auto 0 auto;
    }

    @media #{$mobile--big} {
      margin: 0 auto;
    }

    @media #{$desktop} {
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  &__footer {
    border-top: 1px solid #F0F0F0;
    grid-area: footer;
    padding: 0 20px;
  }
}