@import "../../variables";
@import "../../mixins/rem";

.event {
  display: grid;
  border-radius: 20px;
  background: #FAFAFA;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;

  &--control {
    @media #{$mobile} {
      grid-template-rows: auto minmax(0, 30px);
    }

    @media #{$tablet} {
      grid-template-rows: auto 1fr;
    }
  }


  @media #{$desktop--only} {
    &:hover {
      box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
      background: #F3F3F3;

      & .event__info {
        background: #F3F3F3;

        &--critical {
          background: #db3e22;
        }
      }

      & .event__data-container {
        background: #F3F3F3;
      }
    }
  }

  &__controls {
    grid-column-start: 1;
    grid-row: 1/3;
    position: relative;

    @media #{$desktop--only} {
      visibility: hidden;
      grid-row: 1/3;
    }

    &:hover {
      visibility: visible;
    }
  }

  &__control {
    border-radius: 10px;
  }

  &__close {
    cursor: pointer;
    border: none;
    background: url("../../../assets/cross.svg") center center no-repeat;
    position: absolute;
    height: 11px;
    width: 11px;
    top: 18px;
    right: 18px;

    @media #{$tablet} {
      height: 13px;
      width: 13px;
      top: 20px;
      right: 22px;
    }

    @media #{$desktop} {
      height: 15px;
      width: 15px;
      top: 22px;
      right: 22px;
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    background: url("../../../assets/Next.svg") center center no-repeat;
    position: absolute;
    height: 13px;
    width: 7px;
    bottom: 18px;
    right: 18px;

    @media #{$mobile} {
      height: 15px;
      width: 9px;
      bottom: 20px;
      right: 20px;
    }

    @media #{$desktop} {
      height: 17px;
      width: 11px;
      bottom: 22px;
      right: 22px;
    }
  }

  &__info {
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 20px;
    background: #FAFAFA;
    padding: 25px 18px 20px 18px;
    align-self: start;

    &--critical {
      background: #DB5341;
      color: #ffffff;
      border-radius: 20px 20px 0 0;
      padding: 25px 18px 40px 18px;
    }

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(10, 10%);
      border-radius: 20px;
    }
  }

  &__icon {
    grid-column-start: 1;
    align-self: center;
    height: 100%;
    width: 100%;

    &--s {
      @media #{$mobile--big} {
        grid-column: 1/2;
      }
    }

    &--m {
      @media #{$mobile--big} {
        grid-column: 1/2;
      }
      @media #{$tablet--big} {
        grid-column: 1;
      }
    }

    &--l {
      @media #{$tablet} {
        grid-column-start: 1;
      }
    }

    &--stats {
      background: url("../../../assets/stats.svg") no-repeat;
      height: 17px;
      width: 35px;

      @media #{$tablet} {
        height: 23px;
        width: 48px;
      }

      &--white {
        background: url("../../../assets/stats-white.svg") no-repeat;
      }
    }

    &--key {
      background: url("../../../assets/key.svg") no-repeat;
      height: 32px;
      width: 35px;

      @media #{$tablet} {
        height: 45px;
        width: 50px;
      }

      &--white {
        background: url("../../../assets/key-white.svg") no-repeat;
      }
    }

    &--robot-cleaner {
      background: url("../../../assets/robot-cleaner.svg") no-repeat;
      height: 21px;
      width: 35px;

      @media #{$tablet} {
        height: 29px;
        width: 50px;
      }

      &--white {
        background: url("../../../assets/robot-cleaner-white.svg") no-repeat;
      }
    }

    &--router {
      background: url("../../../assets/router.svg") no-repeat;
      height: 31px;
      width: 34px;

      @media #{$tablet} {
        height: 49px;
        width: 43px;
      }

      &--white {
        background: url("../../../assets/router-white.svg") no-repeat;
      }
    }

    &--thermal {
      background: url("../../../assets/thermal.svg") no-repeat;
      height: 35px;
      width: 35px;

      @media #{$tablet} {
        height: 48px;
        width: 48px;
      }

      &--white {
        background: url("../../../assets/thermal-white.svg") no-repeat;
      }
    }

    &--ac {
      background: url("../../../assets/air-conditioner.svg") no-repeat;
      height: 29px;
      width: 35px;

      @media #{$tablet} {
        height: 41px;
        width: 48px;
      }

      &--white {
        background: url("../../../assets/ac-white.svg") no-repeat;
      }
    }

    &--music {
      background: url("../../../assets/music.svg") no-repeat;
      height: 36px;
      width: 36px;

      @media #{$tablet} {
        height: 52px;
        width: 52px;
      }

      &--white {
        background: url("../../../assets/music-white.svg") no-repeat;
      }
    }

    &--fridge {
      background: url("../../../assets/fridge.svg") no-repeat;
      height: 35px;
      width: 28px;

      @media #{$tablet} {
        height: 48px;
        width: 39px;
      }

      &--white {
        background: url("../../../assets/fridge-white.svg") no-repeat;
      }
    }

    &--battery {
      background: url("../../../assets/battery.svg") no-repeat;
      height: 18px;
      width: 35px;

      @media #{$tablet} {
        height: 25px;
        width: 58px;
      }

      &--white {
        background: url("../../../assets/battery-white.svg") no-repeat;
      }
    }

    &--cam {
      background: url("../../../assets/robot-cleaner.svg") no-repeat;
      height: 36px;
      width: 36px;

      @media #{$tablet} {
        height: 36px;
        width: 50px;
      }

      &--white {
        background: url("../../../assets/robot-cleaner-white.svg") no-repeat;
      }
    }

    &--kettle {
      background: url("../../../assets/kettle.svg") no-repeat;
      height: 35px;
      width: 30px;

      @media #{$tablet} {
        height: 48px;
        width: 41px;
      }

      &--white {
        background: url("../../../assets/kettle-white.svg") no-repeat;
      }
    }
  }

  &__title {
    grid-column: 2 / 11;
    font-family: $font__main--bold;
    font-size: rem(14px);
    padding-left: 15px;
    align-self: center;

    @media #{$tablet--big} {
      font-size: rem(16px)
    }

    &--s {
      @media #{$mobile--big} {
        grid-column: 3/11;
        padding: 0;
      }
      @media #{$tablet} {
        grid-column: 3/11;
        padding-left: 20px;
      }
      @media #{$tablet--big} {
        padding-left: 0;
      }
    }

    &--m {
      @media #{$mobile--big} {
        grid-column: 3/11;
        padding: 0;
      }
      @media #{$tablet--big} {
        grid-column-start: 2;
        padding-left: 20px;
      }
    }

    &--l {
      @media #{$mobile--big} {
        padding-left: 0;
      }
      @media #{$tablet} {
        grid-column: 2/11;
        padding-left: 15px;
      }
      @media #{$tablet--big} {
        padding-left: 0;
      }
    }
  }

  &__name {
    grid-column: 1 / 6;
    font-family: $font__main;
    font-size: rem(12px);
    margin-top: 18px;

    &--s {
      @media #{$tablet} {
        grid-column: span 10;
        justify-self: left;
      }
    }

  }

  &__date {
    grid-column: 6 / 11;
    justify-self: right;
    font-family: $font__main;
    font-size: rem(12px);
    margin-top: 18px;

    &--s {
      @media #{$tablet} {
        grid-column: span 10;
        justify-self: left;
      }
    }
  }

  &__data {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    align-items: end;

    &-container {
      grid-column-start: 1;
      grid-row-start: 2;
      background: #FAFAFA;
      color: $color__text;
      padding: 25px 18px 20px 18px;
      border-radius: 20px;
      margin-top: -20px;
    }
  }

  &__description {
    align-self: end;
    font-family: $font__main;
    font-size: rem(18px);

    &--s {
      @media #{$tablet} {
        font-size: rem(14px);
      }
    }

    &--m {
      @media #{$tablet} {
        font-size: rem(14px);
      }
    }

    &--l {
      @media #{$tablet} {
        font-size: rem(16px);
      }
    }

  }

  &__graph {
    margin-top: 40px;
  }

  &__microclimate {
    margin-top: 20px;
  }

  &__media {
    margin-top: 20px;
  }

  &__buttons {
    margin-top: 20px;

    &-wrapper {
      display: grid;
      grid-template-columns: minmax(100px, 132px) minmax(100px, 132px);
      justify-content: space-between;
      grid-template-rows: 1fr;
      grid-column-gap: 15px;

      @media #{$desktop} {
        justify-content: start;
        font-size: rem(16px);
      }
    }
  }

  &__walle {
    margin-top: 20px;
  }
}