@import "../../variables";
@import "../../mixins/rem";

.microclimate {
  display: grid;
  grid-template-columns: 50% 50%;

  &__temperature {
    grid-column-start: 1;
    justify-self: left;
  }

  &__humidity {
    grid-column-start: 2;
    justify-self: right;
  }

  &__value-name {
    font-family: $font__main;
    font-size: rem(14px);
    color: #000000;

    @media #{$tablet--only} {
      font-size: rem(12px);
    }
  }

  &__value {
    font-family: $font__main--bold;
    font-size: rem(14px);
    color: #000000;
    
    @media #{$tablet--only} {
      font-size: rem(12px);
    }

    &--temperature::after {
      content: 'C';
    }

    &--humidity:after {
      content: '%';
    }
  }
}