@import "../../variables";
@import "../../mixins/rem";

.events {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 20px;

  @media #{$mobile--big} {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row dense revert;
    grid-template-rows: auto;
  }

  @media #{$tablet} {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row dense revert;
    grid-template-rows: auto;
  }

  &__title {
    font-family: $font__main--bold;
    font-size: rem(24px);
    color: $color__text;
    margin: 0;

    @media #{$mobile--big} {
      grid-column: 1/5;
    }

    @media #{$tablet} {
      margin: 0;
      grid-column: 1/7;
    }

    @media #{$desktop} {
      margin: 40px 0 20px 0;
    }
  }

  &__event {
    @media #{$mobile--big} {
      &--s {
        grid-column: span 2;
        grid-row: span 1;
      }

      &--m {
        grid-column: span 2;
        grid-row: span 2;
      }

      &--l {
        grid-column: span 4;
        grid-row: span 3;
      }
    }

    @media #{$tablet} {
      &--s {
        grid-column: span 2;
        grid-row: span 1;
      }

      &--m {
        grid-column: span 3;
        grid-row: span 2;
      }

      &--l {
        grid-column: span 4;
        grid-row: span 3;
      }
    }
  }
}