@import "../../mixins/rem";
@import "../../variables";

.menu {
  &__burger {
    background: url("../../../assets/icon_list_m.png") no-repeat;
    height: 14px;
    width: 16px;
    z-index: 2;
    
    @media #{$tablet} {
      display: none;
    }
  }

  &__wrapper {

    &--header {
      display: block;
      position: fixed;
      top: 0;
      height: 100vh;
      width: 160px;
      transition: right 0.5s ease;
      right: -300px;
      padding: 50px 10px 20px 50px;
      z-index: 1;
      background-color: $color__background;

      @media #{$tablet} {
        position: inherit;
        top: 0;
        height: 100%;
        width: 100%;
        transition: none;
        right: 0;
        padding: 3px 0 0 0;
        z-index: 1;
        background-color: $color__background;;
      }
    }

    &--show {
      right: 0;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }

  &__item {
    @media #{$tablet} {
      display: inline;
      margin-right:  20px;
    }

    &--inline {
      display: inline;
      margin-right: 3px;
    }
  }

  &__link {
    font-family: $font__main--bold;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0.6;
    color: $color__text;
    line-height: rem(24px);

    &--selected {
      opacity: 1;
    }

    &--footer {
      font-family: $font__main;
      font-size: rem(12px);
      color: #858585;
      line-height: 1;
      opacity: 1;
    }
  }
}