@import "variables";

html,
body {
  height: 100%;
  background-color: $color__background;
}

html {
  font-size: $font__size--mobile;

  @media #{$tablet} {
    font-size: $font__size--tablet;
  }

  @media #{$desktop} {
    font-size: $font__size--desktop;
  }
}