@import "variables";

html,
body {
  height: 100%;
  background-color: $color__background;
  touch-action: pan-y;
}

html {
  font-size: $font__size--mobile;

  @media #{$mobile--big} {
    font-size: $font__size--mobile--big;
  }

  @media #{$tablet} {
    font-size: $font__size--tablet;
  }

  @media #{$tablet--big} {
    font-size: $font__size--tablet--big;
  }

  @media #{$desktop} {
    font-size: $font__size--desktop;
  }
}