.header {
  display: grid;
  margin: 0 20px;
  grid-template-columns: 108px 16px;
  grid-template-rows: 70px;
  align-items: center;
  justify-content: space-between;

  &__logo {

  }

  &__menu {

  }
}